.full-width {
  width: 100%;
  background-color: #f2f2f2; /* Couleur de fond légère */
  text-align: center;
  padding: 30px; /* Espacement interne pour un aspect aéré */
  box-sizing: border-box;
}

.logo {
  float: left;
  margin: 0;
  color: #3498db; /* Couleur bleue */
  font-size: 28px; /* Taille de police ajustée */
}

.welcome {
  font-size: 32px; /* Taille de police augmentée pour l'en-tête principal */
  margin-top: 50 px; /* Supprimer la marge supérieure pour l'en-tête principal */
  color: #333; /* Couleur de texte plus foncée */
  margin-right: 150px;

}