<div class="full-width">
    <h2 class="logo">Verosoft Design</h2>
    <h1 class="welcome">Welcome to the Intern Guide</h1>
    <h4>
        <p>First lets introduce our company: Verosoft Design develops software for companies looking to speed up and automate their processes. We are able to meet the expectations of companies worldwide.
    <br><br>
    This web page for onboarding interns provides a centralized platform to share crucial company information, its environment, development tools, and available resources. Here you will find everything you need to get the most out of your internship with us. To learn more about a certain topic, just click on it.</p>
    </h4>
</div>