<div class="tool-list">
    <button (click)="isToolListVisible = !isToolListVisible" class="button-style">Learn more about the communication</button>
    <ul *ngIf="isToolListVisible" id="toolList">
        <h4>Clear communication is vital during a software internship. Tools like Teams, Dev Azure, and Outlook make collaboration, issue resolution, and knowledge sharing more efficient.</h4>
        
        <li><strong>Effective Collaboration</strong>: Clear communication fosters teamwork, enabling efficient task completion and shared problem-solving, write down information when you are being helped so you can reduce the chance of having to ask the same question again.</li>
        <li><strong> Resolution</strong>: Prompt communication helps address challenges swiftly, preventing project delays and enhancing problem-solving.</li>
        <li><strong> Sharing</strong>: Seamless communication through tools like Teams, Dev Azure, and Outlook aids in sharing insights, fostering a learning environment.</li>
        <strong>Also just not being embarrassed to ask for help. Since you are interns you are here to learn and absorb lots of information and the team knows that.</strong>
    </ul>
</div>
