<div class="tool-list">
    <button (click)="isToolListVisible = !isToolListVisible" class="button-style">Learn more about Azur</button>
    <ul *ngIf="isToolListVisible" id="toolList">
        <h4>It can make your programming internship more efficient by automating processes, enhancing collaboration, and promoting an agile approach to software development.</h4>
        <li>Automation: DevOps encourages the automation of deployment, testing, and configuration management tasks, which speeds up development and enhances code quality.</li>
        <li> Collaboration: DevOps promotes close collaboration among developers, operations, and other stakeholders, improving communication and issue resolution.</li>
        <li>Continuous Delivery: Adopting DevOps practices enables continuous delivery, meaning updates and features can be deployed rapidly and frequently.</li>
        <li>Error Reduction: By automating tests and deployments, DevOps reduces the risk of human errors and enhances code reliability. </li>
        <li>Continuous Improvement: DevOps fosters ongoing process improvement, enabling quicker identification and resolution of issues.</li>
    </ul>
</div>
